.Note {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  border-right: 16px solid #212121;

  &Title {
    margin: 0px 0px 8px 0px;
  }

  &Body {
    margin: 0;
  }

  &RED {
    border-right-color: #ef9a9a;
  }

  &PINK {
    border-right-color: #f48fb1;
  }

  &PURPLE {
    border-right-color: #ce93d8;
  }

  &DEEPPURPLE {
    border-right-color: #b39ddb;
  }

  &INDIGO {
    border-right-color: #9fa8da;
  }

  &BLUE {
    border-right-color: #90caf9;
  }

  &LIGHTBLUE {
    border-right-color: #81d4fa;
  }

  &CYAN {
    border-right-color: #80deea;
  }

  &TEAL {
    border-right-color: #80cbc4;
  }

  &GREEN {
    border-right-color: #a5d6a7;
  }

  &LIGHTGREEN {
    border-right-color: #c5e1a5;
  }

  &LIME {
    border-right-color: #e6ee9c;
  }

  &YELLOW {
    border-right-color: #fff59d;
  }

  &AMBER {
    border-right-color: #ffe082;
  }

  &ORANGE {
    border-right-color: #ffcc80;
  }

  &DEEPORANGE {
    border-right-color: #ffab91;
  }

  &BROWN {
    border-right-color: #bcaaa4;
  }

  &GREY {
    border-right-color: #b0bec5;
  }
}
