.Header {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  &Title {
    margin: 0;
    flex: 1;
  }

  &User {
    display: flex;
    align-items: center;
    cursor: pointer;

    &Icon {
      margin-left: 8px;
    }
  }
}
